.form-sesion {
	height: 1px;
}

.menu-inside {
	display: none;
	flex-direction: column;
	position: relative;
	border: 3px solid rgb(255, 155, 5);
	background: linear-gradient( #0ad103, #0cdac8);
}

.input {
	height: 30px;
	margin: 10px 25px;
}

.input_botom {
	height: 27px;
	width: 75px;
}

.botones {
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

.menu-items li a:hover > .menu-inside {
	display: flex;
}